*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Slider Section */
#slider .sliderItem{
    background-color: #FEE7E6;
}
.sliderItem img{
    width: 100%;
    height: auto;
    max-width: 350px;
}
/* Categories Section */
.categoriesItem img{
    width: 100%;
    height: auto;
    max-width: 100px;
}